# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
build/
dist/
*.egg-info/

# Temporary / Scratch logs
*.log
scratch/
